/* Jobs */
.jobs {
  display: flex;
  width: 100%;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-basis: 100%;
  overflow-y: none;
  transition: flex 0.3s ease-in-out;
  flex-direction: column;
  width: 100%;
}

.mainContent.drawerOpen {
  flex-basis: 68%;
  overflow-y: auto;
}

.drawer {
  display: none;
  flex-basis: 0%;
  transition: flex-basis 0.3s ease-in-out;
}

.drawer.drawerOpen {
  display: flex;
  flex-basis: 600px;
}

/* Hide Main Content on small screens when Drawer is open */
@media (min-width: 768px) {
  .mainContent.drawerOpen {
    display: block;
    flex-direction: row;
  }
}

/* Job Description */
.card {
  max-width: 500px;
  width: 40%;
  margin: 1rem;
  border-radius: 15px !important;
}

.cardIconDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.descriptionBox {
  display: flex;
  gap: 8px; /* Space between icon and text */
  justify-content: flex-start; /* Horizontally center the icon and text */
  width: 100%; /* Ensure the box takes up the full width */
  align-items: center;
}

.descriptionText {
  color: #00000099;
}

.descriptionFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}

/* Filter Column */
.filterColumn {
  width: 100%;
  justify-content: center;
}

.filterColumnOverflow {
  justify-content: flex-start;
}

/* Search Column */
.searchContent {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.searchTextField {
  background-color: white;
  width: 40%;
}

.filterButton {
  align-self: end;
  margin-bottom: 5px;
}

.filterIcon {
  width: 2rem !important;
  height: 2rem !important;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
}

.sliderBox {
  height: 100px;
  width: 250px;
}

.slider {
  width: 100%;
  translate: 0px 25px;
}

.dropDownMenuSelection {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.salarySliderBox {
  height: 100px;
  width: 98%;
}

.salarySlider {
  width: 100%;
  translate: 0px 25px;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.drawerButton {
  padding: 5px 15px;
  margin-top: 10px;
  margin-right: 5px;
}

.drawer {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.drawerNarrow {
  width: 600px;
  transition: width 0.3s ease-in-out;
}

.descriptionBox {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;
  align-items: start;
}

.cardCompensation {
  border: 2px solid #63d297;
}

.noResultContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

img {
  background-color: transparent;
  height: 30rem;
  width: 30rem;
}

/* .resetButton {
  background-color: #4ba173;
} */

.containerForCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.resultText {
  display: flex;
  justify-self: self-start;
  width: 100%;
  padding: 0 0.2rem 0 0;
}
